<div class="modal-overlay" *ngIf="visible && productoAjustar">
  <div class="modal-card">
    <h2>Ajustar Inventario</h2>
    <p style="margin-bottom: 15px; color: #64748b;">
      Producto: <strong>{{ productoAjustar.nombre }}</strong> <br>
      Stock actual: <strong>{{ productoAjustar.stockActual }} piezas</strong>
    </p>

    <form #ajusteForm="ngForm" (ngSubmit)="guardarCambios()">
      <div class="form-grid">

        <div class="form-group">
          <label>Tipo de Ajuste</label>
          <select name="tipoMovimiento" [(ngModel)]="nuevoAjuste.tipo" required>
            <option value="ENTRADA">➕ Entrada (Suma al inventario)</option>
            <option value="SALIDA">➖ Salida (Resta del inventario)</option>
          </select>
        </div>

        <div class="form-group">
          <label>Cantidad de piezas</label>
          <input
          type="number"
          name="cantidadAjuste"
          [(ngModel)]="nuevoAjuste.cantidad"
          min="1"
          required
          #ajusteCantidadModel="ngModel">
          <span class="span-text" *ngIf="ajusteCantidadModel.invalid && (ajusteCantidadModel.touched || ajusteForm.submitted)">
            <span class="error-text" *ngIf="ajusteCantidadModel.errors?.['required']"><mat-icon fontIcon="info"></mat-icon>
              La cantidad es obligatoria</span>
            <span class="error-text" *ngIf="ajusteCantidadModel.errors?.['min']"><mat-icon fontIcon="info"></mat-icon>
              El valor en la cantidad es invalido</span>
          </span>
        </div>

        <div class="form-group" style="grid-column: span 2;">
          <label>Motivo del ajuste</label>
          <input
          type="text"
          name="motivoAjuste"
          [(ngModel)]="nuevoAjuste.motivo"
          placeholder="Ej. Ajuste por merma, conteo anual, compra..."
          required
          #motivoModel="ngModel">
          <span class="span-text" *ngIf="motivoModel.invalid && (motivoModel.touched || ajusteForm.submitted)">
            <span class="error-text" *ngIf="motivoModel.errors?.['required']"><mat-icon fontIcon="info"></mat-icon>
              El motivo de ajuste es obligatoria</span>
          </span>
        </div>

      </div>

      <div class="modal-actions">
        <button type="button" class="btn-secondary" (click)="cerrar()">Cancelar</button>
        <button type="submit" class="btn-primary">Aplicar Ajuste</button>
      </div>
    </form>
  </div>
</div>
