.products-content{
  display: flex;
  flex-direction: column;
  padding: 20px 40px 20px 40px;
}

.products-header-content{
  display: grid;
  grid-template-columns: 70% 30%;
}

.products-header-actions{
  justify-self: end;
  align-self: end;
  padding: 0px 20px 20px 0px;
}

.products-card-content{
  background-color: #fff;
  border-radius: 24px;
  width: 100%;
  box-shadow: 0 3px 3px 3px #99999973;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse; /* Une los bordes en una sola línea */
}

td, th {
  padding: 12px;
  text-align: left;
}

td{
  border-bottom: 1px solid #ddd;
}

th {
  border-bottom: 3px solid #acacac46;
  background-color: #f5f9fc;
}

th.col-1{
  width: 20%;
  text-align: initial;
  border-radius: 24px 0 0 0;
}
th.col-2{width: auto;}
th.col-3{width: auto;}
th.col-4{width: auto;}
th.col-5{width: auto;}
th.col-6{
    width: auto;
    text-align: end;
    border-radius: 0 24px 0 0;}
/*ESTILOS PARA MODAL*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que flote sobre el navbar y aside */
}

.modal-card {
  background: white;
  padding: 32px;
  border-radius: 8px;
  width: 600px; /* Ancho cómodo para 2 columnas de inputs */
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

.form-grid {
  margin-bottom: 24px;
}

.form-input {
margin: 8px;
padding-left: 50px;
width: 100%;
font-size: 1.1rem;
}

label {
  padding-right: 1rem;
}

input {
  width: 90%;
}

/* Si la fila tiene la clase .inactivo, se vuelve un poco transparente */
.product-field.inactivo {
  opacity: 0.5;
  background-color: #f1f5f9; /* Un gris más apagado */
  text-decoration: line-through; /* Opcional: raya el texto si te gusta el efecto */
}

