<div class="products-content">

  <div *ngIf="isLoading" class="loading-state">
    <p class="alert-warning"> Cargando tus productos, un momemento...</p>
  </div>

  <div *ngIf="!isLoading">

    <section class="products-header-content">
      <div class="products-header-info">
        <h1>Inventario</h1>
        <p>{{ productos.length }} productos</p>
      </div>

      <div class="products-header-actions">
        <button>Agregar producto</button>
      </div>
    </section>

    <div *ngIf="successMessage" class="alert-success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert-danger">{{ errorMessage }}</div>
    <div *ngIf="productos.length === 0" class="empty-state">
      <p>No hay productos registrados en inventario</p>
    </div>

    <div *ngIf="productos.length > 0" class="products-card-content">
      <table class="products-table">
        <thead>
          <th class="col-1">Producto</th>
          <th class="col-2">Categoría</th>
          <th class="col-3">P. Mostrador</th>
          <th class="col-4">P. Taller</th>
          <th class="col-5">Stock</th>
        </thead>
        <tbody>
          <tr class="product-field" *ngFor="let producto of productos">
            <td style="text-align: initial;">{{producto.nombre}}</td>
            <td>{{producto.categoria}}</td>
            <td>${{producto.precioVentaMostrador}}</td>
            <td>${{producto.precioVentaTaller}}</td>
            <td style="text-align: end;">Actual {{producto.stockActual}} / Min {{producto.stockMinimo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
