<div class="products-content">

  <div *ngIf="isLoading" class="loading-state">
    <p class="alert-warning"> Cargando tus productos, un momemento...</p>
  </div>

  <div *ngIf="!isLoading">

    <section class="products-header-content">
      <div class="products-header-info">
        <h1>Inventario</h1>
        <p>{{ productos.length }} productos</p>
      </div>

      <div class="products-header-actions">
        <button (click)="abrirModalCrearProducto()">Agregar producto</button>
      </div>
    </section>

    <div *ngIf="successMessage" class="alert-success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert-danger">{{ errorMessage }}</div>
    <div *ngIf="productos.length === 0" class="empty-state">
      <p>No hay productos registrados en inventario</p>
    </div>

    <div *ngIf="productos.length > 0" class="products-card-content">
      <table class="products-table">
        <thead>
          <th class="col-1">Producto</th>
          <th class="col-2">Categoría</th>
          <th class="col-3">Marca</th>
          <th class="col-4">Precio de mostrador</th>
          <th class="col-5">Stock</th>
          <th class="col-6">Acciones_</th>
        </thead>
        <tbody>
          <tr class="product-field" *ngFor="let producto of productos">
            <td style="text-align: initial;">{{producto.nombre}}</td>
            <td>{{producto.categoria}}</td>
            <td>{{producto.marca}}</td>
            <td>${{producto.precioVentaMostrador}}</td>
            <td>Actual {{producto.stockActual}} / Min {{producto.stockMinimo}}</td>
            <td style="text-align: end;">
              <button class="btn-icon" (click)="abrirModalAjustarStock(producto)" title="Ajustar Inventario">📦</button>
              <button class="btn-icon"  title="Editar datos">📝</button>
              <button class="btn-icon" (click)="abrirModalAlternarEstado(producto)" [title]="producto.activo ? 'Desactivar' : 'Activar'">
                {{ producto.activo ? '❌' : '🔄' }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--MODAL para agregar un nuevo producto-->
  <div class="modal-overlay" *ngIf="mostrarModal">
    <section class="modal-card">
      <h2>Registrar Nuevo Producto</h2>

      <form (ngSubmit)="guardarProducto()">
        <div class="form-grid">
          <div class="form-input">
            <label>Nombre:</label>
            <input type="text" name="nombre" [(ngModel)]="nuevoProducto.nombre" [ngModelOptions] ="{standalone: true}" required>
          </div>

          <div class="form-input">
            <label>Marca:</label>
            <input type="text" [(ngModel)]="nuevoProducto.marca" [ngModelOptions] ="{standalone: true}" required>
          </div>

          <div class="form-input">
            <label>Categoría:</label>
            <input type="text" [(ngModel)]="nuevoProducto.categoria" [ngModelOptions] ="{standalone: true}" required>
          </div>

          <div class="form-input">
            <label>Proveedor:</label>
            <input type="text" [(ngModel)]="nuevoProducto.proveedor" [ngModelOptions] ="{standalone: true}" required>
          </div>

          <div class="form-input">
            <label>Precio Compra:</label>
            <input type="text" [(ngModel)]="nuevoProducto.precioCompra" [ngModelOptions] ="{standalone: true}" required>
          </div>

          <div class="form-input">
            <label>Precio Venta Mostrador:</label>
            <input type="text" [(ngModel)]="nuevoProducto.precioVentaMostrador" [ngModelOptions] ="{standalone: true}" required>
          </div>

          <div class="form-input">
            <label>Precio Venta Taller:</label>
            <input type="text" [(ngModel)]="nuevoProducto.precioVentaTaller" [ngModelOptions] ="{standalone: true}" required>
          </div>

          <div class="form-input">
            <label>Stock Inicial:</label>
            <input type="text" [(ngModel)]="nuevoProducto.stockActual" [ngModelOptions] ="{standalone: true}" required>
          </div>
        </div>
        <div class="modal-actions">
          <button type="button" class="btn-secondary" (click)="cerrarModal()">Cancelar</button>
          <button type="submit" class="btn-primary">Guardar en Inventario</button>
        </div>
      </form>
    </section>
  </div>

  <div class="modal-overlay" *ngIf="mostrarModalStock && productoSeleccionado">
    <div class="modal-card">
      <h2>Ajustar Inventario</h2>
      <p style="margin-bottom: 15px; color: #64748b;">
        Producto: <strong>{{ productoSeleccionado.nombre }}</strong> <br>
        Stock actual: <strong>{{ productoSeleccionado.stockActual }} piezas</strong>
      </p>

      <form (ngSubmit)="guardarAjusteStock()">
        <div class="form-grid">

          <div class="form-group">
            <label>Tipo de Ajuste</label>
            <select name="tipoMovimiento" [(ngModel)]="ajuste.tipo" required>
              <option value="ENTRADA">➕ Entrada (Suma al inventario)</option>
              <option value="SALIDA">➖ Salida (Resta del inventario)</option>
            </select>
          </div>

          <div class="form-group">
            <label>Cantidad de piezas</label>
            <input type="number" name="cantidadAjuste" [(ngModel)]="ajuste.cantidad" min="1" required>
          </div>

          <div class="form-group" style="grid-column: span 2;">
            <label>Motivo del ajuste</label>
            <input type="text" name="motivoAjuste" [(ngModel)]="ajuste.motivo" placeholder="Ej. Ajuste por merma, conteo anual, compra..." required>
          </div>

        </div>

        <div class="modal-actions">
          <button type="button" class="btn-secondary" (click)="cerrarModalStock()">Cancelar</button>
          <button type="submit" class="btn-primary">Aplicar Ajuste</button>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-overlay" *ngIf="mostrarModalAlternar && productoSeleccionado">
    <div class="modal-card">
      <h2>Cambiar estado del producto</h2>
      <p style="margin-bottom: 15px; color: #64748b;">
        Producto: <strong>{{ productoSeleccionado.nombre }}</strong> <br>
        Estado actual: <strong>{{ productoSeleccionado.activo }}</strong>
      </p>

      <form (ngSubmit)="cambiarEstado()">
        <div class="form-grid">
          <div class="form-group">
            <label>Estado del producto</label>
            <div>
              <label>
                <input type="radio" name="Estado" [(ngModel)] = "productoSeleccionado.activo" [value]="true">Activo
              </label>
              <label>
                <input type="radio" name="Estado" [(ngModel)] = "productoSeleccionado.activo" [value]="false">Inactivo
              </label>
            </div>
          </div>
        </div>

        <div class="modal-actions">
          <button type="button" class="btn-secondary" (click)="cerrarModalStock()">Cerrarr</button>
          <button type="submit" class="btn-primary">Aplicar Cambio</button>
        </div>
      </form>
    </div>
  </div>
</div>
