<div class="modal-overlay" *ngIf="visible && productoEditar">
  <section class="modal-card">
    <h2>Editar Producto</h2>

    <form #productoForm="ngForm" (ngSubmit)="guardarCambios()">
      <div class="form-grid">
        <div class="form-input">
          <label>Nombre:</label>
          <input
          type="text"
          name="nombre"
          [(ngModel)]="productoEditar.nombre"
          required
          minlength="3"
          #nombreModel = "ngModel">
          <span class="span-text" *ngIf="nombreModel.invalid && (nombreModel.touched || productoForm.submitted)">
            <span class="error-text" *ngIf="nombreModel.errors?.['required']"><mat-icon fontIcon="info"></mat-icon>
              El nombre del producto es obligatorio</span>
            <span class="error-text" *ngIf="nombreModel.errors?.['minlength']"><mat-icon fontIcon="info"></mat-icon>
              Debe tener al menos 3 caracteres</span>
          </span>
        </div>

        <div class="form-input">
          <label>Marca:</label>
          <input
          type="text"
          name="marca"
          [(ngModel)]="productoEditar.marca"
          required
          #marcaModel = "ngModel">
          <span class="span-text" *ngIf="marcaModel.invalid && (marcaModel.touched || productoForm.submitted) ">
            <span class="error-text" *ngIf="marcaModel.errors?.['required']"><mat-icon fontIcon="info"></mat-icon>
              Este campos es obligatorio.</span>
          </span>
        </div>

        <div class="form-input">
          <label>Categoría:</label>
          <input
          type="text"
          name="categoria"
          [(ngModel)]="productoEditar.categoria"
          required
          #categoriaModel = "ngModel">
          <span clas="span-text" *ngIf="categoriaModel.invalid && (categoriaModel.touched || productoForm.submitted) ">
            <span class="error-text" *ngIf="categoriaModel.errors?.['required']"><mat-icon fontIcon="info"></mat-icon>
              Este campo es obligatorio.</span>
          </span>
        </div>

        <div class="form-input">
          <label>Proveedor:</label>
          <input
          type="text"
          name="proveedor"
          [(ngModel)]="productoEditar.proveedor"
          >
        </div>

        <div class="form-input">
          <label>Precio Compra:</label>
          <input
          type="number"
          name="precio-compra"
          [(ngModel)]="productoEditar.precioCompra"
          required
          min = "0.1"
          #precioModel = "ngModel">
          <span class="span-text" *ngIf="precioModel.invalid && (precioModel.touched || productoForm.submitted) ">
            <span class="error-text" *ngIf="precioModel.errors?.['requierd']"><mat-icon fontIcon="info"></mat-icon>
              Este campo es obligatorio.</span>
            <span class="error-text" *ngIf="precioModel.errors?.['min']"><mat-icon fontIcon="info"></mat-icon>
              El precio de compra debe ser mayor a $0.</span>
          </span>
        </div>

        <div class="form-input">
          <label>Precio Venta Mostrador:</label>
          <input
          type="number"
          name="precio-mostrador"
          [(ngModel)]="productoEditar.precioVentaMostrador"
          required
          min="0.1"
          #pMostradorModel = "ngModel">
          <span class="span-text" *ngIf="pMostradorModel.invalid && (pMostradorModel.touched || productoForm.submitted) ">
            <span class="error-text" *ngIf="pMostradorModel.errors?.['required']"><mat-icon fontIcon="info"></mat-icon>
              Este campo es obligatorio.</span>
            <span class="error-text" *ngIf="pMostradorModel.errors?.['min']"><mat-icon fontIcon="info"></mat-icon>
              Debe ser un valor mayor a $0.</span>
          </span>
        </div>

        <div class="form-input">
          <label>Precio Venta Taller:</label>
          <input
          type="number"
          name="precio-taller"
          [(ngModel)]="productoEditar.precioVentaTaller"
          min="0"
          #pTallerModel="ngModel">
          <span class="span-text" *ngIf="pTallerModel.invalid && productoForm.submitted">
            <span class="error-text" *ngIf="pTallerModel.errors?.['min']"><mat-icon fontIcon="info"></mat-icon>
              El precio no es valido.</span>
          </span>
        </div>

        <div class="form-input">
          <label>Stock Minimo:</label>
          <input
          type="number"
          name="stock-minimo"
          [(ngModel)]="productoEditar.stockMinimo"
          required
          min="1"
          #stockMinModel = "ngModel">
          <span class="span-text" *ngIf="stockMinModel.invalid && (stockMinModel.touched && productoForm.submitted)">
            <span class="error-text" *ngIf="stockMinModel.errors?.['required']"><mat-icon fontIcon="info"></mat-icon>
              Este campo es obligatorio</span>
            <span class="error-text" *ngIf="stockMinModel.errors?.['min']"><mat-icon fontIcon="info"></mat-icon>
              Cantidad en stock invalidad.</span>
          </span>
        </div>
      </div>
      <div class="modal-actions">
        <button type="button" class="btn-secondary" (click)="cerrar()">Cancelar</button>
        <button type="submit" class="btn-primary" [disabled]="productoForm.invalid">Guardar en Inventario</button>
      </div>
    </form>
  </section>
</div>
