/* 1. Quitar los márgenes por defecto del navegador */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body{
  font-family: 'Inter', sans-serif;
}

/* Para que los bordes y paddings no rompan tus tamaños */
*, *::before, *::after {
  box-sizing: border-box;
}
