section.aside-header {
text-align: start;
margin-left: 12px;
}

section h1.aside-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-bottom: 8px;
  margin-left: 8px;
}
.item {

}
.item a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: rgb(153, 162, 178);
  padding: 10px;
  border-radius: 4px;
  transition: all 0.2s ease;
}
.item a:hover {
  background: linear-gradient(to right, rgba(153, 162, 178, 0.403), rgba(85, 89, 98, 0.294));
  color: rgb(254, 254, 254);
}

.item a.active-link  {
  background: linear-gradient(to right, rgb(27, 98, 240), rgba(23, 84, 207, 0.774));
  color: white;
}

.item a:hover:not(.active-link) {
  background: linear-gradient(to right, rgba(153, 162, 178, 0.403), rgba(85, 89, 98, 0.294));
  color: rgb(254, 254, 254);
  transition: all 0.2s ease;
}

